@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-image: url('../public/images/bg1.jpg');
    @apply text-gray-100 bg-cover bg-center bg-no-repeat
  }
}

.container {
  @apply mx-auto w-full max-w-[1200px] px-6
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #374151;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #10b981;
  border-radius: 14px;
}